.task-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:47px
}

.name-task{
    width: 30vw;
    height: 30px;  
}

.error-message{
    color: red;
    position: absolute;
    top: 13vh;
    left: 35vw;
}